.border {
    text-align: center;
    background-color: red;
    padding: 10px;
    padding-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
}
.contains {
    background-color: blue;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}
body {
    background-color: blue;
    background-size: cover;
}